.page__section {
    .container {
        @apply relative lg:px-20 md:px-10 px-5 flex flex-col gap-y-[32px];

        h2 {
            @apply text-hei-blue;
        }
    }
}

.section {
    &__banner {
        @apply relative sm:pt-[220px] pt-[120px] pb-[95px];

        .container {
            @apply relative flex flex-col gap-y-[32px];
        }
        &__image {
            @apply relative w-full aspect-[1200/743];
        }
    }

    &__hei-way {
        &__items {
            @apply flex md:flex-row flex-col gap-x-[2px] md:h-[500px] max-md:w-[calc(100%+40px)] max-md:mx-[-20px];
        }
        --color: #BFD5B1;
        &__item {
            &:not(.active) {
                @apply lg:w-[100px] md:w-[70px] max-md:h-[70px] max-md:overflow-hidden;
            }
            @apply flex md:h-full flex-col md:flex-row transition-all duration-300 delay-100;
            &__icon {
                @apply lg:w-[100px] md:w-[70px] md:min-h-full min-h-[70px] relative bg-[--color] cursor-pointer;
                span {
                    @apply text-hei-blue lg:text-[40px] md:text-[36px] sm:text-[28px] text-[24px] font-black font-noyh md:rotate-[90deg] rotate-0 md:opacity-0 transition-all duration-300;
                    @apply absolute lg:top-[100px] md:top-[80px] top-1/2 max-md:-translate-y-1/2 lg:left-[-10px] md:left-[-15px] left-[20px] max-md:pr-[20px] max-md:w-[80%];
                    // @apply max-md:hidden;
                }
                img {
                    @apply lg:w-[64px] md:w-[50px] lg:h-[64px] md:h-[50px] w-[40px] h-[40px] aspect-square object-contain md:top-[52px] md:left-[50%] left-[unset] md:-translate-x-1/2 top-1/2 max-md:-translate-y-1/2 max-md:right-[20px] transition-all duration-300 #{!important};
                }

                &:hover {
                    img {
                        @apply md:top-[400px] transition-all duration-500 #{!important};
                    }
                    span {
                        @apply opacity-100 transition-all duration-300;
                    }
                }
            }

            &.active {
                .section__hei-way__item__icon {
                    span {
                        @apply opacity-100 delay-500;
                    }

                    img {
                        @apply md:top-[400px] delay-500 #{!important};
                    }
                }
            }

            & > div:last-child {
                @apply flex-grow transition-all duration-300 relative;
                @apply relative top-0 left-0;
                @apply before:content-[''] before:absolute before:w-full before:h-full before:bg-[--color] before:opacity-60;
            }

            &__content {
                @apply w-full md:h-full h-auto relative md:absolute md:top-0 md:left-0 opacity-0 transition-all duration-300 delay-0 md:pt-[38px] pt-[20px] md:px-[24px] px-[40px] md:pb-[45px] pb-[40px] overflow-auto;

                // Custom scrollbar styles


                h3 {
                    @apply text-hei-blue md:text-[35px]/[100%] text-[28px]/[100%] mb-[12px];
                }

                p {
                    @apply text-hei-blue text-[20px]/[140%];
                }

                &__image {
                    @apply md:w-[44%] w-[280px] h-[auto] aspect-square object-contain md:float-right max-md:mx-auto float-none relative max-md:my-[10px] #{!important};
                }
            }


            &.active {
                @apply flex-grow;

                .section__hei-way__item__content {
                    @apply opacity-100 delay-300 pointer-events-auto;
                }
            }
        }
    }

    &__learning-areas {
        @apply pt-[50px];
        &__items {
            @apply relative;

            .embla__arrow {
                @apply absolute top-1/2 -translate-y-1/2 z-10;

                &--prev {
                    @apply xl:left-0 left-5 translate-x-[-100%];
                }

                &--next {
                    @apply xl:right-0 right-5 translate-x-[100%];
                }

                &:disabled {
                    @apply opacity-50 cursor-not-allowed #{!important};
                }
            }
        }
        .embla {
            @apply overflow-visible #{!important};
        }
        .embla__viewport {
            @apply pb-[32px] #{!important};
        }
        .embla__container {
            @apply flex flex-row #{!important};
        }
        .embla__slide {
            @apply md:min-w-[400px] min-w-[300px] xl:px-[34px] px-[10px] #{!important};
        }
        &__item {
            @apply flex xl:w-[335px] w-auto flex-col h-full transition-all duration-300 delay-100;
            @apply bg-[#FFFFFF] overflow-hidden rounded-[34px] shadow-[0_4px_4px_0_rgba(0,0,0,0.25)];
            --color: #BFD5B1;
            &__image {
                @apply relative bg-[--color] w-full aspect-[335/225];
                img {
                    @apply object-cover #{!important};
                }
            }

            &__content {
                @apply flex flex-col items-start justify-center md:p-[35px] p-[20px] md:pt-[16px] pt-[10px] gap-3;

                h4 {
                    @apply text-hei-blue text-[32px] leading-[32px] font-noyh font-black;
                }

                p {
                    @apply text-hei-blue;
                }
            }
        }
        // Learning areas styles will be added here
    }

    &__learning-aspiration {
        @apply pt-[74px] bg-white relative;
        // &__items {
        //     // @apply flex flex-row gap-x-[2px] h-[500px];
        // }
        --gap: 100px;
        --gap2: 150px;

        &__item {
            @apply lg:sticky relative pb-[50px] lg:top-[--gap] w-full bg-white rounded-t-[38px] max-lg:pb-20 max-lg:-mt-5;

            &:before {
                @apply content-[''] absolute top-[-5px] left-0 w-full h-full lg:z-[-1] rounded-t-[38px];
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.03));
            }

            &:after {
                @apply content-[''] absolute top-0 left-0 w-full h-full z-[0] rounded-t-[38px] bg-white;
            }

            .container {
                @apply relative z-[1];
            }
            // Use calc() for proper CSS variable math
            @media screen and (min-width: 1024px) {                
                &:nth-child(1) {
                    margin-bottom: calc(var(--gap) * 0);
                    top: calc(var(--gap2));
                }
                &:nth-child(2) {
                    // margin-bottom: calc(var(--gap));
                    top: calc((var(--gap) * 1) + var(--gap2));
                }
                &:nth-child(3) {
                    // margin-bottom: calc(var(--gap));
                    top: calc((var(--gap) * 2) + var(--gap2));
                }
                &:nth-child(4) {
                    // margin-bottom: calc(var(--gap));
                    top: calc((var(--gap) * 3) + var(--gap2));
                }
                &:nth-child(5) {
                    // margin-bottom: calc(var(--gap));
                    top: calc((var(--gap) * 4) + var(--gap2));
                }
                &:last-child {
                    // margin-bottom: -200px;
                    // @apply lg:absolute bottom-0 top-[unset] left-0 w-full h-fit;
                }
            }

            .container {
                @apply pt-[38px];
            }

            &__content {
                @apply flex items-start flex-col lg:flex-row justify-between gap-[47px];

                &__image {
                    @apply lg:min-w-[270px] min-w-[200px] max-lg:mx-auto relative;

                    img {
                        @apply object-contain #{!important};
                    }
                }

                &__text {
                    @apply flex-1 flex flex-col gap-y-[30px];

                    p {
                        @apply text-hei-blue text-[18px]/[160%];
                    }
                    .image-text {
                        @apply relative w-full lg:h-[165px];

                        img {
                            @apply w-auto h-full object-contain relative #{!important};
                        }
                    }
                }
            }
        }
        // Learning aspiration styles will be added here
    }
}