.home {
    &-banner {
        @apply w-full h-screen relative overflow-hidden before:content-[''] before:absolute before:w-full before:top-0 before:left-0 before:h-[200px] before:bg-gradient-to-b from-white to-transparent before:z-[2];

        &__image {
            @apply w-screen absolute transition-all duration-500 z-[1] top-0 left-1/2 -translate-x-1/2 h-screen object-cover overflow-hidden;

            img {
                @apply w-screen h-screen object-cover left-1/2 -translate-x-1/2 origin-bottom max-w-[unset] #{!important};
            }
        }

        h1 {
            @apply absolute opacity-0 text-white md:bottom-[40px] bottom-[100px] md:right-[122px] right-[20px] z-[3] w-full xl:max-w-[500px] max-w-[300px];
        }
        
        &.loaded {
            .home-banner__image {
                @apply rounded-b-[30px] h-[calc(100%-20px)] w-[calc(100%-40px)];
            }

            h1 {
                // @apply right-[102px];
            }
        }
    }

    &-about {
        @apply relative;

        &__circle {
            @apply absolute top-0 left-0 -translate-x-1/2 -translate-y-1/2 md:w-[1155px] w-[500px] md:h-[1155px] h-[500px];
        }

        .container {
            @apply relative flex flex-col items-center justify-center sm:pt-[144px] pt-[100px] max-w-[1200px] pb-[252px] gap-[52px];
        }
        h2 {
            @apply text-center text-hei-blue;
        }

        &__image {
            @apply relative w-full md:max-w-[600px] max-w-[300px] -mt-[200px];
            
            img {
                @apply w-full h-auto relative  #{!important};
            }
        }
    }

    &-history {
        @apply bg-hei-green-light relative z-10 md:rounded-[51px] rounded-[40px];

        .container {
            @apply relative flex lg:flex-row flex-col items-center justify-center py-[130px] pt-[66px] max-w-[1200px] pb-[52px] gap-[52px];

            > * {
                @apply flex-1;
            }
        }

        &-image {
            @apply relative flex flex-col items-center justify-center;

            img {
                @apply w-auto h-auto relative max-lg:max-w-[280px]  #{!important};
            }
        }

        &-content {
            @apply flex flex-col items-start justify-center;

            h3 {
                @apply text-hei-green mb-[42px] max-lg:text-center;
            }

            &-description {
                @apply text-hei-green font-noyh max-lg:text-center md:text-[24px] text-[20px] leading-[normal];

                p {
                    @apply mb-[24px] last:mb-0;
                }
            }
        }
    }

    &-history-2 {
        @apply bg-cover bg-center bg-no-repeat md:h-[507px] h-[606px] md:rounded-b-[51px] rounded-b-[40px] md:mt-[-100px] mt-[-50px] mb-[59px]; 
        // background-attachment: fixed;
    }

    &-education {
        @apply relative;

        .container {
            @apply relative flex flex-col pt-[80px] max-w-[1200px] pb-[20px] gap-[52px];
        }

        &-content {
            @apply flex flex-col items-start justify-center max-w-[710px];

            h3 {
                @apply text-hei-green mb-[42px];
            }

            &-description {
                @apply text-hei-green font-noyh md:text-[24px] text-[20px] leading-[normal];

                p {
                    @apply mb-[24px] last:mb-0;
                }
            }
        }

        &-image {
            @apply relative w-full max-w-[626px] aspect-[626/482] ml-auto -mt-[200px];
            
            img {
                @apply w-full h-full object-contain  #{!important};
            }
        }

    }

    &-map {
        @apply relative;

        .container {
            @apply relative flex flex-col items-center justify-center pt-[140px] max-w-[1200px] pb-[20px] gap-0;
        }
        
        &-image {
            @apply relative w-full h-[70vh] ml-auto overflow-hidden rounded-lg scale-[0.5] md:block hidden;
            transform-origin: center center;
            transition: transform 0.3s ease-out;
            
            img {
                @apply w-full h-full object-contain  #{!important};
                transition: transform 0.3s ease-out;
            }
        }
    }

    &-location {
        @apply relative;

        .container {
            @apply relative md:pt-[140px] pt-[50px] md:pb-[90px] pb-[50px] max-md:px-0 gap-0;
        }

        &-tabs {
            @apply relative md:px-[83px] px-[20px];

            @apply flex flex-row items-center justify-start gap-0;
        }
        &-tab {
            @apply text-center font-noyh text-hei-blue/50 cursor-pointer md:text-[32px] text-[24px] md:leading-[40px] leading-[30px] font-black md:w-[198px] w-fit border-r border-hei-blue last:border-r-0 max-md:px-2;

            &.active {
                @apply text-hei-blue;
            }
        }

        &-gallery-container {
            @apply relative md:px-[83px] px-[0] md:mt-[23px] mt-[10px];

            .embla__arrow {
                @apply absolute top-1/2 -translate-y-1/2;

                &--prev {
                    @apply left-5;
                }
                
                &--next {
                    @apply right-5;
                }
            }
        }
        &-items {
            @apply relative  md:aspect-[1200/629] aspect-[400/600] w-full overflow-hidden shadow-[0_4px_4px_rgba(0,0,0,0.25)];

        }
        &-item {
            @apply absolute top-0 left-0 h-full  translate-x-0  w-full transition-all duration-300 z-0;

            &.active {
                @apply z-10;
                animation: fadeIn 0.5s ease-out forwards;
            }

            @keyframes fadeIn {
                from {
                    transform: translateX(-100%);
                }
                to {
                    transform: translateX(0);
                }
            }
        }
    }

    &-awards {
        @apply bg-[#FACDB7] md:rounded-t-[51px] rounded-t-[40px] max-md:rounded-b-[40px] md:pt-[140px] pt-[50px] md:pb-[60px] pb-[50px];

        .container {
            @apply relative flex flex-col items-center justify-center gap-5;
        }

        &-image {
            @apply relative w-full max-w-[870px] md:block hidden;

            img {
                @apply w-full h-auto relative  #{!important};
            }
        }
        &-image-mobile {
            @apply relative w-full max-w-[300px] md:hidden;

            img {
                @apply w-full h-auto relative  #{!important};
            }
        }
    }

    &-testimonials {
        @apply bg-white  pt-[104px] pb-[66px];

        .container {
            @apply relative flex flex-col items-center justify-center gap-5;
        }

        &-content {
            @apply relative w-full md:max-w-[970px] max-w-[357px] mx-auto pt-[30px] pb-[77px] md:pl-[301px];

            &-avatars {
                @apply md:absolute md:top-0 md:left-0 h-full md:w-[354px] w-[286px] max-md:h-[384px] bg-[#D9D9D9] z-0 overflow-hidden max-md:mx-auto;

                &-avatar {
                    @apply absolute top-0 left-0 w-full h-full z-0 transition-all duration-300 opacity-0;

                    img {
                        @apply w-full h-full object-cover  #{!important};
                    }

                    &--selected {
                        @apply z-10 opacity-100;
                        // animation: fadeIn 0.5s ease-out forwards;
                    }
        
                    // @keyframes fadeIn {
                    //     from {
                    //         transform: translateY(-100%);
                    //     }
                    //     to {
                    //         transform: translateY(0);
                    //     }
                    // }
                }

            }

            &-slides {
                @apply bg-[#FFEEE6] rounded-[27px] overflow-hidden relative;
                .embla__slide {
                    @apply md:p-[40px] p-[20px];
                }
                &-item {
                    @apply relative flex flex-col items-center justify-center h-full gap-[24px];
                    
                    &-quote {
                        @apply text-black md:text-[24px] text-[20px] leading-normal text-center relative px-[20px];
                        &::after,
                        &::before {
                            @apply text-black font-noyh md:text-[128px] text-[100px] leading-normal text-center w-[58px] h-[69px];
                        }
                        &::after {
                            @apply content-['”'] absolute bottom-0 right-0 md:translate-x-[40%] translate-x-[30%];
                        }
                        &::before {
                            @apply content-['“'] absolute top-0 left-0 md:translate-y-[-60%] translate-y-[-40%] md:translate-x-[-45%] translate-x-[-30%];
                        }
                    }

                }
            }

            &-dots {
                @apply flex flex-row items-center justify-center gap-[10px] pt-[29px];

                .embla__dot {
                    @apply w-[10px] h-[10px] rounded-full border border-[#755757];

                    &--selected { 
                        @apply bg-[#755757];
                    }
                }
            }
        }

    }

}